<div class="banner">
    <img loading="lazy" src="img/bg1.webp" alt="" class="banner__bg1">
    <div class="container">
        <div class="banner__content">
            <div class="banner__body">
                <div class="banner__titles">
                    <svg aria-hidden="true" width="46" height="74">
                        <use xlink:href="img/sprite.svg#gesture"></use>
                    </svg>
                    <div class="banner__title">
                        Макияж. Обзоры.
                    </div>
                </div>
                <div class="banner__bottom">
                    <div class="banner__arrows">
                        <span>смотреть блог</span>
                        <svg aria-hidden="true" width="120" height="8">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="socials">
                        <a href="./">
                            <svg aria-hidden="true" width="23" height="15">
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="./">
                            <svg style="margin-right:4px;" aria-hidden="true" width="22" height="18">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <img loading="lazy" src="img/image2.webp" alt="" class="banner__pic1 pic1">
            <!--<img loading="lazy" src="img/image3.webp" alt="" class="banner__pic1 pic2">-->
            <!--<img loading="lazy" src="img/image4.webp" alt="" class="banner__pic1 pic3">-->
        </div>
    </div>
</div>