<header class="header">
    <div class="header__cirlce"></div>
    <div class="container">
        <div class="header__content">
            <div class="header-top">
                <div class="header-top__icon-menu">
                    <svg aria-hidden="true" width="11" height="11" class="star1">
                        <use xlink:href="img/sprite.svg#star1"></use>
                    </svg>
                    <svg aria-hidden="true" width="11" height="11" class="star2">
                        <use xlink:href="img/sprite.svg#star1"></use>
                    </svg>
                    <svg aria-hidden="true" width="11" height="11" class="star3">
                        <use xlink:href="img/sprite.svg#star1"></use>
                    </svg>
                    <svg aria-hidden="true" width="5" height="5" class="star4">
                        <use xlink:href="img/sprite.svg#star1"></use>
                    </svg>
                    <button type="button" class="icon-menu"><span></span></button>
                </div>
                <a href="./" class="header-top__logo">
                    <img src="img/icons/logo1.svg" alt="">
                </a>
                <div class="header-top__icons">
                    <button type="button" class="header-top__icon button-search">
                        <img src="img/icons/search.svg" alt="">
                    </button>
                    <button data-popup="#login" type="button" class="header-top__icon">
                        <img src="img/icons/person.svg" alt="">
                    </button>
                    <div class="header-top__icon header-top-cart">
                        <a href="./">
                            <img src="img/icons/cart.svg" alt="">
                        </a>
                        <div class="header-cart__dropdown">
                            <div class="header-cart__top">
                                <div data-simplebar class="header-cart__simplebar">
                                    <div class="header-cart__tables">
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-cart__bottom">
                                    <button type="button" class="header-cart__remove">
                                        <svg aria-hidden="true" width="11" height="11">
                                            <use xlink:href="img/sprite.svg#close"></use>
                                        </svg>
                                        <span>Очистить корзину</span>
                                    </button>
                                    <div class="header-cart__total">
                                        14900 ₽
                                    </div>
                                </div>
                            </div>
                            <div class="header-cart__buttons">
                                <a href="./" class="btn btn-transparent">
                                    <span>Перейти в корзину</span>
                                    <svg aria-hidden="true" width="17" height="17">
                                        <use xlink:href="img/sprite.svg#star1"></use>
                                    </svg>
                                </a>
                                <a href="./" class="btn">
                                    <span>Оформить заказ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <a href="./" class="header-bottom__logo">
                    <img src="img/icons/logo1.svg" alt="">
                </a>
                <div class="header-bottom__menu">
                    <div class="header-bottom__close">
                        <svg aria-hidden="true" width="19" height="19">
                            <use xlink:href="img/sprite.svg#close"></use>
                        </svg>
                    </div>
                    <div class="header-bottom__circle"></div>
                    <ul class="header-bottom__list">
                        <li class="header-bottom__item header-catalog">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Каталог
                            </a>
                            <div class="header-catalog__dropdowm">
                                <div class="container">
                                    <div class="header-catalog__content">
                                        <div class="header-catalog__menu">
                                            <ul>
                                                <li data-image="img/image5.webp" class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Новинки</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                    <ul class="menu1">
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./" class="header-catalog-link2">
                                                                <span>Все товары</span>
                                                                <svg aria-hidden="true" width="17" height="17">
                                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                                </svg>
                                                            </a>
                                                            <ul class="submenu1">
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./">
                                                                        <span>Все товары</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./">
                                                                        <span>Очищение</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/image5.webp">
                                                                        <span>Тонизирование</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Питание и увлажнение</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/image5.webp">
                                                                        <span>Антивозрастной уход</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Для кожи вокруг глаз</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Уход для губ</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Крем</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Сыворотка</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Маски</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Патчи</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Пэды</span>
                                                                    </a>
                                                                </li>
                                                                <li data-image="img/products/image5.webp"
                                                                    class="header-catalog-menu3">
                                                                    <a href="./" data-image="img/products/image5.webp">
                                                                        <span>Пилинги и скрабы</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li data-image="img/image5.webp" class="header-catalog-menu2">
                                                            <a href="./" data-image="img/products/image5.webp">
                                                                <span>Новинки</span>
                                                                <svg aria-hidden="true" width="17" height="17">
                                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./" data-image="img/image5.webp">
                                                                <span>Уход для лица</span>
                                                                <svg aria-hidden="true" width="17" height="17">
                                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/image5.webp" class="header-catalog-menu2">
                                                            <a href="./" data-image="img/products/image5.webp">
                                                                <span>Уход для тела</span>
                                                                <svg aria-hidden="true" width="17" height="17">
                                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./" data-image="img/image5.webp">
                                                                <span>Солнцезащитные</span>
                                                                <svg aria-hidden="true" width="17" height="17">
                                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li data-image="img/products/image5.webp" data-id="menu2"
                                                    class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Уход</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                    <ul class="menu1">
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./">
                                                                <span>Все товары</span>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/image5.webp" class="header-catalog-menu2">
                                                            <a href="./" data-image="img/products/image5.webp">
                                                                <span>Новинки</span>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./" data-image="img/image5.webp">
                                                                <span>Уход для лица</span>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/image5.webp" class="header-catalog-menu2">
                                                            <a href="./" data-image="img/products/image5.webp">
                                                                <span>Уход для тела</span>
                                                            </a>
                                                        </li>
                                                        <li data-image="img/products/image5.webp"
                                                            class="header-catalog-menu2">
                                                            <a href="./" data-image="img/image5.webp">
                                                                <span>Солнцезащитные</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li data-image="img/image5.webp" data-id="menu3"
                                                    class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Макияж</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li data-image="img/products/image5.webp" data-id="menu4"
                                                    class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Волосы</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li data-image="img/image5.webp" data-id="menu5"
                                                    class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Наборы</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li data-image="img/products/image5.webp" data-id="menu6"
                                                    class="header-catalog-menu1">
                                                    <a href="./" class="header-catalog-link1">
                                                        <span>Разное</span>
                                                        <svg aria-hidden="true" width="17" height="17">
                                                            <use xlink:href="img/sprite.svg#star1"></use>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="header-catalog__image">
                                            <img src="img/products/image5.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header-bottom__item">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Бренды
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Новинки
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Макияж
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Разное
                            </a>
                        </li>
                        <li class="header-bottom__item">
                            <a href="./" class="header-bottom__link">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                                Бьюти-блог
                            </a>
                        </li>
                    </ul>
                    <div class="socials">
                        <a href="./">
                            <svg aria-hidden="true" width="23" height="15">
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="./">
                            <svg style="margin-right:4px;" aria-hidden="true" width="22" height="18">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="header-top__icons">
                    <button type="button" class="header-top__icon button-search">
                        <img src="img/icons/search.svg" alt="">
                    </button>
                    <button data-popup="#login" type="button" class="header-top__icon">
                        <img src="img/icons/person.svg" alt="">
                    </button>
                    <div class="header-top__icon header-top-cart">
                        <a href="./">
                            <img src="img/icons/cart.svg" alt="">
                        </a>
                        <div class="header-cart__dropdown">
                            <div class="header-cart__top">
                                <div data-simplebar class="header-cart__simplebar">
                                    <div class="header-cart__tables">
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-cart__table">
                                            <a href="./" class="header-cart__image">
                                                <img loading="lazy" src="img/products/image15.webp" alt="">
                                            </a>
                                            <div class="header-cart__body">
                                                <div class="header-cart__titles">
                                                    <a href="./" class="header-cart__title">
                                                        Двухфазная разглаживающая сыворотка с волюфилином
                                                        Derma Factory Volufiline 5% Blending Serum
                                                    </a>
                                                    <button type="button" class="header-cart__delete">
                                                        <img loading="lazy" src="img/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="header-cart__descr">
                                                    <div class="header-cart__col">
                                                        6800 ₽ x 1
                                                        <span>Розничная цена</span>
                                                    </div>
                                                    <div class="header-cart__price">
                                                        6800 ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-cart__bottom">
                                    <button type="button" class="header-cart__remove">
                                        <svg aria-hidden="true" width="11" height="11">
                                            <use xlink:href="img/sprite.svg#close"></use>
                                        </svg>
                                        <span>Очистить корзину</span>
                                    </button>
                                    <div class="header-cart__total">
                                        14900 ₽
                                    </div>
                                </div>
                            </div>
                            <div class="header-cart__buttons">
                                <a href="./" class="btn btn-transparent">
                                    <span>Перейти в корзину</span>
                                    <svg aria-hidden="true" width="17" height="17">
                                        <use xlink:href="img/sprite.svg#star1"></use>
                                    </svg>
                                </a>
                                <a href="./" class="btn">
                                    <span>Оформить заказ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-search">
        <div class="container">
            <div class="header-search__content">
                <div class="header-search__search">
                    <div class="search">
                        <input autocomplete="off" type="text" name="form[]" placeholder="Что мы ищем?">
                        <div class="search__button">
                            <img src="img/icons/search.svg" alt="">
                        </div>
                    </div>
                    <div class="header-search__results">
                        <button type="button" class="header-search__result">
                            <img src="img/icons/search2.svg" alt="">
                            <span>Гель для глаз</span>
                        </button>
                        <button type="button" class="header-search__result">
                            <img src="img/icons/search2.svg" alt="">
                            <span>Гель для лица</span>
                        </button>
                        <button type="button" class="header-search__result">
                            <img src="img/icons/search2.svg" alt="">
                            <span>Гель для душа</span>
                        </button>
                    </div>
                </div>
                <div class="header-search__body">
                    <div class="header-search__title">Последние результаты поиска</div>
                    <div class="block-products__cards">
                        <div class="product-card1">
                            <div class="product-card1__images">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart3.svg" alt="" class="favorites__icon2">
                                </div>
                                <div class="product-card1__slider swiper">
                                    <div class="product-card1__wrapper swiper-wrapper">
                                        <div class="product-card1__slide swiper-slide image-big">
                                            <img loading="lazy" src="img/products/image15.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__pagination pagination"></div>
                            </div>
                            <div class="product-card1__item">
                                <div class="product-card1__heading">
                                    <div class="product-card1__top">
                                        <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                        </div>
                                    </div>
                                    <div class="product-card1__titles">
                                        <a href="./" class="product-card1__title">
                                            Название продукта может быть в 2 строки
                                        </a>
                                        <div class="product-card1__subtitle">
                                            MISSA <span>Perfect color</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__bottoms">
                                    <div class="product-card1__prices">
                                        <div class="product-card1__old-price">2700 ₽ </div>
                                        <div class="product-card1__price">1400 ₽ </div>
                                    </div>
                                    <div class="product-card1__bottom">
                                        <div data-quantity class="quantity">
                                            <button data-quantity-plus type="button"
                                                class="quantity__button quantity__button_plus">
                                                <svg aria-hidden="true" width="9" height="9">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                            <div class="quantity__input">
                                                <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                                    value="1">
                                            </div>
                                            <button data-quantity-minus type="button"
                                                class="quantity__button quantity__button_minus">
                                                <svg aria-hidden="true" width="9" height="2">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button type="button" class="btn">
                                            <span>В корзину</span>
                                            <img loading="lazy" src="img/icons/cart.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card1">
                            <div class="product-card1__images">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart3.svg" alt="" class="favorites__icon2">
                                </div>
                                <div class="product-card1__slider swiper">
                                    <div class="product-card1__wrapper swiper-wrapper">
                                        <div class="product-card1__slide swiper-slide image-big">
                                            <img loading="lazy" src="img/products/image15.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__pagination pagination"></div>
                            </div>
                            <div class="product-card1__item">
                                <div class="product-card1__heading">
                                    <div class="product-card1__top">
                                        <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                        </div>
                                    </div>
                                    <div class="product-card1__titles">
                                        <a href="./" class="product-card1__title">
                                            Название продукта может быть в 2 строки
                                        </a>
                                        <div class="product-card1__subtitle">
                                            MISSA <span>Perfect color</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__bottoms">
                                    <div class="product-card1__prices">
                                        <div class="product-card1__old-price">2700 ₽ </div>
                                        <div class="product-card1__price">1400 ₽ </div>
                                    </div>
                                    <div class="product-card1__bottom">
                                        <div data-quantity class="quantity">
                                            <button data-quantity-plus type="button"
                                                class="quantity__button quantity__button_plus">
                                                <svg aria-hidden="true" width="9" height="9">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                            <div class="quantity__input">
                                                <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                                    value="1">
                                            </div>
                                            <button data-quantity-minus type="button"
                                                class="quantity__button quantity__button_minus">
                                                <svg aria-hidden="true" width="9" height="2">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button type="button" class="btn">
                                            <span>В корзину</span>
                                            <img loading="lazy" src="img/icons/cart.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card1">
                            <div class="product-card1__images">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart3.svg" alt="" class="favorites__icon2">
                                </div>
                                <div class="product-card1__slider swiper">
                                    <div class="product-card1__wrapper swiper-wrapper">
                                        <div class="product-card1__slide swiper-slide image-big">
                                            <img loading="lazy" src="img/products/image23.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__pagination pagination"></div>
                            </div>
                            <div class="product-card1__item">
                                <div class="product-card1__heading">
                                    <div class="product-card1__top">
                                        <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                        </div>
                                    </div>
                                    <div class="product-card1__titles">
                                        <a href="./" class="product-card1__title">
                                            Название продукта может быть в 2 строки
                                        </a>
                                        <div class="product-card1__subtitle">
                                            MISSA <span>Perfect color</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__bottoms">
                                    <div class="product-card1__prices">
                                        <div class="product-card1__old-price">2700 ₽ </div>
                                        <div class="product-card1__price">1400 ₽ </div>
                                    </div>
                                    <div class="product-card1__bottom">
                                        <div data-quantity class="quantity">
                                            <button data-quantity-plus type="button"
                                                class="quantity__button quantity__button_plus">
                                                <svg aria-hidden="true" width="9" height="9">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                            <div class="quantity__input">
                                                <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                                    value="1">
                                            </div>
                                            <button data-quantity-minus type="button"
                                                class="quantity__button quantity__button_minus">
                                                <svg aria-hidden="true" width="9" height="2">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button type="button" class="btn">
                                            <span>В корзину</span>
                                            <img loading="lazy" src="img/icons/cart.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card1">
                            <div class="product-card1__images">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart3.svg" alt="" class="favorites__icon2">
                                </div>
                                <div class="product-card1__slider swiper">
                                    <div class="product-card1__wrapper swiper-wrapper">
                                        <div class="product-card1__slide swiper-slide image-big">
                                            <img loading="lazy" src="img/products/image18.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__pagination pagination"></div>
                            </div>
                            <div class="product-card1__item">
                                <div class="product-card1__heading">
                                    <div class="product-card1__top">
                                        <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                        </div>
                                    </div>
                                    <div class="product-card1__titles">
                                        <a href="./" class="product-card1__title">
                                            Название продукта может быть в 2 строки
                                        </a>
                                        <div class="product-card1__subtitle">
                                            MISSA <span>Perfect color</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card1__bottoms">
                                    <div class="product-card1__prices">
                                        <div class="product-card1__old-price">2700 ₽ </div>
                                        <div class="product-card1__price">1400 ₽ </div>
                                    </div>
                                    <div class="product-card1__bottom">
                                        <div data-quantity class="quantity">
                                            <button data-quantity-plus type="button"
                                                class="quantity__button quantity__button_plus">
                                                <svg aria-hidden="true" width="9" height="9">
                                                    <use xlink:href="img/sprite.svg#plus"></use>
                                                </svg>
                                            </button>
                                            <div class="quantity__input">
                                                <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                                    value="1">
                                            </div>
                                            <button data-quantity-minus type="button"
                                                class="quantity__button quantity__button_minus">
                                                <svg aria-hidden="true" width="9" height="2">
                                                    <use xlink:href="img/sprite.svg#minus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button type="button" class="btn">
                                            <span>В корзину</span>
                                            <img loading="lazy" src="img/icons/cart.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>