<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бьюти-блог</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro-banner block-intro-beaty">
                <div class="container">
                    <div class="block-intro-banner__content">
                        <img src="img/icons/logo3.svg" alt="" class="block-intro-banner__logo1">
                        <img src="img/image23.webp" alt="" class="block-intro-banner__pic1">
                        <svg aria-hidden="true" width="46" height="74" class="block-intro-banner__icon1">
                            <use xlink:href="img/sprite.svg#gesture"></use>
                        </svg>
                        <svg aria-hidden="true" width="29" height="29" class="block-intro-banner__icon2">
                            <use xlink:href="img/sprite.svg#star1"></use>
                        </svg>
                        <svg aria-hidden="true" width="35" height="29" class="block-intro-banner__icon3">
                            <use xlink:href="img/sprite.svg#heart1"></use>
                        </svg>
                        <svg aria-hidden="true" width="17" height="17" class="block-intro-banner__icon4">
                            <use xlink:href="img/sprite.svg#star1"></use>
                        </svg>
                        <div class="block-intro-banner__titles">
                            <h1 class="title2">Бьюти-блог</h1>
                            <span>새항목</span>
                        </div>
                        <div class="block-intro-banner__logo2">
                            <img src="img/icons/logo4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="23" height="8">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>Бьюти-блог</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-beaty">
                <div class="container">
                    <div class="block-beaty__content">
                        <div class="block-beaty__title">
                            Образы моделей
                        </div>
                        <div class="block-beaty__body">
                            <div class="block-beaty__column">
                                <img src="img/products/image25.webp" alt="" class="block-beaty__pic1">
                                <div class="block-beaty__item">
                                    <div class="block-beaty__name">
                                        Signature Glam Look
                                    </div>
                                    <div class="block-beaty__bottom">
                                        <a data-popup="#buy-set" href="./" class="btn">
                                            <span>Купить набор</span>
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                        </a>
                                        <div class="block-beaty__images">
                                            <img src="img/products/image17.webp" alt="">
                                            <img src="img/products/image15.webp" alt="">
                                            <img src="img/products/image18.webp" alt="">
                                            <img src="img/products/image19.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-beaty__column">
                                <img src="img/products/image14.webp" alt="" class="block-beaty__pic1">
                                <div class="block-beaty__item">
                                    <div class="block-beaty__name">
                                        Signature Glam Look
                                    </div>
                                    <div class="block-beaty__bottom">
                                        <a data-popup="#buy-set" href="./" class="btn">
                                            <span>Купить набор</span>
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                        </a>
                                        <div class="block-beaty__images">
                                            <img src="img/products/image15.webp" alt="">
                                            <img src="img/products/image22.webp" alt="">
                                            <img src="img/products/image19.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-beaty__column">
                                <img src="img/products/image25.webp" alt="" class="block-beaty__pic1">
                                <div class="block-beaty__item">
                                    <div class="block-beaty__name">
                                        Signature Glam Look
                                    </div>
                                    <div class="block-beaty__bottom">
                                        <a data-popup="#buy-set" href="./" class="btn">
                                            <span>Купить набор</span>
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                        </a>
                                        <div class="block-beaty__images">
                                            <img src="img/products/image17.webp" alt="">
                                            <img src="img/products/image15.webp" alt="">
                                            <img src="img/products/image18.webp" alt="">
                                            <img src="img/products/image19.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-beaty__column">
                                <img src="img/products/image14.webp" alt="" class="block-beaty__pic1">
                                <div class="block-beaty__item">
                                    <div class="block-beaty__name">
                                        Signature Glam Look
                                    </div>
                                    <div class="block-beaty__bottom">
                                        <a data-popup="#buy-set" href="./" class="btn">
                                            <span>Купить набор</span>
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                        </a>
                                        <div class="block-beaty__images">
                                            <img src="img/products/image15.webp" alt="">
                                            <img src="img/products/image22.webp" alt="">
                                            <img src="img/products/image19.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="./" class="btn btn-transparent">
                            <span>Смотреть все</span>
                            <svg aria-hidden="true" width="17" height="17">
                                <use xlink:href="img/sprite.svg#star1"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="buy-set" aria-hidden="true" class="popup popup-buy-set">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div data-close class="popup__close">
                    <span>Закрыть</span>
                    <svg aria-hidden="true" width="19" height="19">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
                <div class="popup-buy-set__content">
                    <div class="popup-buy-set__body">
                        <div class="popup-buy-set__title">Signature Glam Look</div>
                        <div class="popup-buy-set-top">
                            <div class="images-product2">
                                <div class="images-product2__slider swiper">
                                    <div class="images-product2__wrapper swiper-wrapper">
                                        <a href="img/products/image25.webp" data-fancybox="gallery2"
                                            class="images-product2__slide swiper-slide">
                                            <img src="img/products/image25.webp" alt="">
                                        </a>
                                        <a href="img/products/image25.webp" data-fancybox="gallery2"
                                            class="images-product2__slide swiper-slide">
                                            <img src="img/products/image25.webp" alt="">
                                        </a>
                                        <a href="img/products/image25.webp" data-fancybox="gallery2"
                                            class="images-product2__slide swiper-slide">
                                            <img src="img/products/image25.webp" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="images-product2__thumbs">
                                    <div class="images-product2__arrow-prev">
                                        <svg aria-hidden="true" width="12" height="6">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                    <div class="images-product2__thumb swiper">
                                        <div class="images-product2__wrapper swiper-wrapper">
                                            <div class="images-product2__slide swiper-slide">
                                                <img loading="lazy" src="img/products/image25.webp" alt="">
                                            </div>
                                            <div class="images-product2__slide swiper-slide">
                                                <img loading="lazy" src="img/products/image25.webp" alt="">
                                            </div>
                                            <div class="images-product2__slide swiper-slide">
                                                <img loading="lazy" src="img/products/image25.webp" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="images-product2__arrow-next">
                                        <svg aria-hidden="true" width="12" height="6">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-buy-set-top__right">
                                <div class="popup-buy-set-top__title">
                                    Косметика, использованная в образе
                                </div>
                                <div class="popup-buy-set-top__body">
                                    <div class="popup-buy-set-top__cards">
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide image-big">
                                                            <img loading="lazy" src="img/products/image21.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__heading">
                                                    <div class="product-card1__top">
                                                        <div data-rating data-rating-size="5" data-rating-value="3"
                                                            class="rating">
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__titles">
                                                        <a href="./" class="product-card1__title">
                                                            Название продукта может быть в 2 строки
                                                        </a>
                                                        <div class="product-card1__subtitle">
                                                            MISSA <span>Perfect color</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__bottoms">
                                                    <div class="product-card1__prices">
                                                        <div class="product-card1__old-price">2700 ₽ </div>
                                                        <div class="product-card1__price">1400 ₽ </div>
                                                    </div>
                                                    <div class="product-card1__add-cart">
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide image-big">
                                                            <img loading="lazy" src="img/products/image19.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__heading">
                                                    <div class="product-card1__top">
                                                        <div data-rating data-rating-size="5" data-rating-value="3"
                                                            class="rating">
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__titles">
                                                        <a href="./" class="product-card1__title">
                                                            Название продукта может быть в 2 строки
                                                        </a>
                                                        <div class="product-card1__subtitle">
                                                            MISSA <span>Perfect color</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__bottoms">
                                                    <div class="product-card1__prices">
                                                        <div class="product-card1__old-price">2700 ₽ </div>
                                                        <div class="product-card1__price">1400 ₽ </div>
                                                    </div>
                                                    <div class="product-card1__add-cart">
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide image-big">
                                                            <img loading="lazy" src="img/products/image21.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__heading">
                                                    <div class="product-card1__top">
                                                        <div data-rating data-rating-size="5" data-rating-value="3"
                                                            class="rating">
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__titles">
                                                        <a href="./" class="product-card1__title">
                                                            Название продукта может быть в 2 строки
                                                        </a>
                                                        <div class="product-card1__subtitle">
                                                            MISSA <span>Perfect color</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__bottoms">
                                                    <div class="product-card1__prices">
                                                        <div class="product-card1__old-price">2700 ₽ </div>
                                                        <div class="product-card1__price">1400 ₽ </div>
                                                    </div>
                                                    <div class="product-card1__add-cart">
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide image-big">
                                                            <img loading="lazy" src="img/products/image15.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__heading">
                                                    <div class="product-card1__top">
                                                        <div data-rating data-rating-size="5" data-rating-value="3"
                                                            class="rating">
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__titles">
                                                        <a href="./" class="product-card1__title">
                                                            Название продукта может быть в 2 строки
                                                        </a>
                                                        <div class="product-card1__subtitle">
                                                            MISSA <span>Perfect color</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__bottoms">
                                                    <div class="product-card1__prices">
                                                        <div class="product-card1__old-price">2700 ₽ </div>
                                                        <div class="product-card1__price">1400 ₽ </div>
                                                    </div>
                                                    <div class="product-card1__add-cart">
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="./" class="btn">
                                        <span>Купить набор за 13 000 руб</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-buy-set-recommend">
                        <div class="popup-buy-set-recommend__line">
                            <svg aria-hidden="true" width="17" height="17">
                                <use xlink:href="img/sprite.svg#star1"></use>
                            </svg>
                        </div>
                        <div class="popup-buy-set-recommend__content">
                            <div class="popup-buy-set-recommend__titles">
                                <div class="popup-buy-set-recommend__title">
                                    ПОКУПАТЕЛИ РЕКОМЕНДУЮТ
                                </div>
                                <div class="popup-buy-set-recommend__arrows">
                                    <div class="popup-buy-set-recommend__arrow-prev">
                                        <svg aria-hidden="true" width="32" height="8">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                    <div class="popup-buy-set-recommend__arrow-next">
                                        <svg aria-hidden="true" width="32" height="8">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-buy-set-recommend__body">
                                <div class="popup-buy-set-recommend__slider swiper">
                                    <div class="popup-buy-set-recommend__wrapper swiper-wrapper">
                                        <div class="popup-buy-set-recommend__slide swiper-slide">
                                            <div class="product-card1">
                                                <div class="product-card1__images">
                                                    <div class="product-card1__slider swiper">
                                                        <div class="product-card1__wrapper swiper-wrapper">
                                                            <div class="product-card1__slide swiper-slide image-big">
                                                                <img loading="lazy" src="img/products/image15.webp"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__pagination pagination"></div>
                                                </div>
                                                <div class="product-card1__item">
                                                    <div class="product-card1__heading">
                                                        <div class="product-card1__titles">
                                                            <a href="./" class="product-card1__title">
                                                                Название продукта может быть в 2 строки
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__bottoms">
                                                        <div class="product-card1__prices">
                                                            <div class="product-card1__price">1400 ₽ </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-buy-set-recommend__slide swiper-slide">
                                            <div class="product-card1">
                                                <div class="product-card1__images">
                                                    <div class="product-card1__slider swiper">
                                                        <div class="product-card1__wrapper swiper-wrapper">
                                                            <div class="product-card1__slide swiper-slide image-big">
                                                                <img loading="lazy" src="img/products/image7.webp"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__pagination pagination"></div>
                                                </div>
                                                <div class="product-card1__item">
                                                    <div class="product-card1__heading">
                                                        <div class="product-card1__titles">
                                                            <a href="./" class="product-card1__title">
                                                                Название продукта может быть в 2 строки
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__bottoms">
                                                        <div class="product-card1__prices">
                                                            <div class="product-card1__price">1400 ₽ </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-buy-set-recommend__slide swiper-slide">
                                            <div class="product-card1">
                                                <div class="product-card1__images">
                                                    <div class="product-card1__slider swiper">
                                                        <div class="product-card1__wrapper swiper-wrapper">
                                                            <div class="product-card1__slide swiper-slide image-big">
                                                                <img loading="lazy" src="img/products/image7.webp"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__pagination pagination"></div>
                                                </div>
                                                <div class="product-card1__item">
                                                    <div class="product-card1__heading">
                                                        <div class="product-card1__titles">
                                                            <a href="./" class="product-card1__title">
                                                                Название продукта может быть в 2 строки
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__bottoms">
                                                        <div class="product-card1__prices">
                                                            <div class="product-card1__price">1400 ₽ </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-buy-set-recommend__slide swiper-slide">
                                            <div class="product-card1">
                                                <div class="product-card1__images">
                                                    <div class="product-card1__slider swiper">
                                                        <div class="product-card1__wrapper swiper-wrapper">
                                                            <div class="product-card1__slide swiper-slide image-big">
                                                                <img loading="lazy" src="img/products/image19.webp"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__pagination pagination"></div>
                                                </div>
                                                <div class="product-card1__item">
                                                    <div class="product-card1__heading">
                                                        <div class="product-card1__titles">
                                                            <a href="./" class="product-card1__title">
                                                                Название продукта может быть в 2 строки
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-card1__bottoms">
                                                        <div class="product-card1__prices">
                                                            <div class="product-card1__price">1400 ₽ </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-buy-set-recommend__slide swiper-slide slide-last">
                                            <a href="./" class="btn btn-transparent">
                                                <span>Еще</span>
                                                <svg aria-hidden="true" width="17" height="17">
                                                    <use xlink:href="img/sprite.svg#star1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>