<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бренды</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro-banner block-intro-brands">
                <div class="container">
                    <div class="block-intro-banner__content">
                        <img src="img/icons/logo3.svg" alt="" class="block-intro-banner__logo1">
                        <img src="img/image11.webp" alt="" class="block-intro-banner__pic1">
                        <svg aria-hidden="true" width="46" height="74" class="block-intro-banner__icon1">
                            <use xlink:href="img/sprite.svg#gesture"></use>
                        </svg>
                        <svg aria-hidden="true" width="29" height="29" class="block-intro-banner__icon2">
                            <use xlink:href="img/sprite.svg#star1"></use>
                        </svg>
                        <svg aria-hidden="true" width="35" height="29" class="block-intro-banner__icon3">
                            <use xlink:href="img/sprite.svg#heart1"></use>
                        </svg>
                        <svg aria-hidden="true" width="17" height="17" class="block-intro-banner__icon4">
                            <use xlink:href="img/sprite.svg#star1"></use>
                        </svg>
                        <div class="block-intro-banner__titles">
                            <h1 class="title2">Бренды</h1>
                            <div class="block-intro-banner__logo2">
                                <img src="img/icons/logo4.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="23" height="8">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Новинки
                                <svg aria-hidden="true" width="23" height="8">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>Разное</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-brands">
                <div class="block-brands__cirlce"></div>
                <div class="container">
                    <div class="block-brands__content">
                        <div class="search">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск по брендам">
                            <div class="search__button">
                                <img src="img/icons/search.svg" alt="">
                            </div>
                        </div>
                        <div class="block-brands__filter">
                            <div class="block-brands__navigation">
                                <div class="block-brands-arrow-prev arrow-prev">
                                    <svg aria-hidden="true" width="67" height="23">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </div>
                                <div class="block-brands__slider swiper">
                                    <div class="block-brands__wrapper swiper-wrapper">
                                        <div data-da=".block-brands__slider, 1200, first" data-filter="brands1"
                                            class="block-brands__slide swiper-slide slide-number active">
                                            0 - 9
                                        </div>
                                        <div data-filter="brands2" class="block-brands__slide swiper-slide">
                                            A
                                        </div>
                                        <div data-filter="brands3" class="block-brands__slide swiper-slide">
                                            B
                                        </div>
                                        <div data-filter="brands4" class="block-brands__slide swiper-slide">
                                            C
                                        </div>
                                        <div data-filter="brands4" class="block-brands__slide swiper-slide">
                                            D
                                        </div>
                                        <div data-filter="brands5" class="block-brands__slide swiper-slide">
                                            E
                                        </div>
                                        <div data-filter="brands6" class="block-brands__slide swiper-slide">
                                            F
                                        </div>
                                        <div data-filter="brands7" class="block-brands__slide swiper-slide">
                                            G
                                        </div>
                                        <div data-filter="brands8" class="block-brands__slide swiper-slide">
                                            H
                                        </div>
                                        <div data-filter="brands9" class="block-brands__slide swiper-slide">
                                            I
                                        </div>
                                        <div data-filter="brands10" class="block-brands__slide swiper-slide">
                                            J
                                        </div>
                                        <div data-filter="brands11" class="block-brands__slide swiper-slide">
                                            K
                                        </div>
                                        <div data-filter="brands12" class="block-brands__slide swiper-slide">
                                            L
                                        </div>
                                        <div data-filter="brands13" class="block-brands__slide swiper-slide">
                                            M
                                        </div>
                                        <div data-filter="brands14" class="block-brands__slide swiper-slide">
                                            N
                                        </div>
                                        <div data-filter="brands15" class="block-brands__slide swiper-slide">
                                            O
                                        </div>
                                        <div data-filter="brands16" class="block-brands__slide swiper-slide">
                                            P
                                        </div>
                                        <div data-filter="brands17" class="block-brands__slide swiper-slide">
                                            Q
                                        </div>
                                        <div data-filter="brands18" class="block-brands__slide swiper-slide">
                                            R
                                        </div>
                                        <div data-filter="brands19" class="block-brands__slide swiper-slide">
                                            S
                                        </div>
                                        <div data-filter="brands20" class="block-brands__slide swiper-slide">
                                            T
                                        </div>
                                        <div data-filter="brands21" class="block-brands__slide swiper-slide">
                                            U
                                        </div>
                                        <div data-filter="brands22" class="block-brands__slide swiper-slide">
                                            V
                                        </div>
                                        <div data-filter="brands23" class="block-brands__slide swiper-slide">
                                            W
                                        </div>
                                        <div data-filter="brands24" class="block-brands__slide swiper-slide">
                                            X
                                        </div>
                                        <div data-filter="brands25" class="block-brands__slide swiper-slide">
                                            Y
                                        </div>
                                        <div data-filter="brands26" class="block-brands__slide swiper-slide">
                                            Z
                                        </div>
                                        <div data-filter="brands27" class="block-brands__slide swiper-slide">
                                            Y
                                        </div>
                                        <div data-filter="brands28" class="block-brands__slide swiper-slide">
                                            Z
                                        </div>
                                        <div data-filter="brands29" class="block-brands__slide swiper-slide">
                                            Y
                                        </div>
                                        <div data-filter="brands30" class="block-brands__slide swiper-slide">
                                            Z
                                        </div>
                                        <div data-filter="brands31" class="block-brands__slide swiper-slide">
                                            Y
                                        </div>
                                        <div data-filter="brands32" class="block-brands__slide swiper-slide">
                                            Z
                                        </div>
                                        <div data-filter="brands33" class="block-brands__slide swiper-slide">
                                            Y
                                        </div>
                                        <div data-filter="brands34" class="block-brands__slide swiper-slide">
                                            Z
                                        </div>
                                    </div>
                                </div>
                                <div class="block-brands-arrow-next arrow-next">
                                    <svg aria-hidden="true" width="67" height="23">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="block-brands__body">
                                <div class="block-brands-favorites">
                                    <div class="block-brands-favorites__title">
                                        Избранные
                                    </div>
                                    <p>
                                        Пока здесь ничего нет. Добавляйте новые бренды в своё избранное
                                    </p>
                                    <!--Если есть бренды
                                    <ul>
                                        <li><a href="./">Бренд1</a></li>
                                        <li><a href="./">Бренд1</a></li>
                                        <li><a href="./">Бренд1</a></li>
                                        <li><a href="./">Бренд1</a></li>
                                    </ul>
                                    -->
                                </div>
                                <div class="block-brands__left">
                                    <div data-filter="brands1" class="block-brands__column active">
                                        <div class="block-brands__title">0 - 9</div>
                                        <ul>
                                            <li>
                                                <a href="./">2080</a>
                                            </li>
                                            <li>
                                                <a href="./">12GRABS</a>
                                            </li>
                                            <li>
                                                <a href="./">2aN</a>
                                            </li>
                                            <li>
                                                <a href="./">3CE</a>
                                            </li>
                                            <li>
                                                <a href="./">3W CLINIC</a>
                                            </li>
                                            <li>
                                                <a href="./">3W KOREA</a>
                                            </li>
                                            <li>
                                                <a href="./">5ENSE</a>
                                            </li>
                                            <li>
                                                <a href="./">8 CLOCK</a>
                                            </li>
                                            <li>
                                                <a href="./">9wishes</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands2" class="block-brands__column">
                                        <div class="block-brands__title">A</div>
                                        <ul>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                            <li>
                                                <a href="./">Anua</a>
                                            </li>
                                            <li>
                                                <a href="./">Ayoume</a>
                                            </li>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                            <li>
                                                <a href="./">Anua</a>
                                            </li>
                                            <li>
                                                <a href="./">Ayoume</a>
                                            </li>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands3" class="block-brands__column">
                                        <div class="block-brands__title">B</div>
                                        <ul>
                                            <li>
                                                <a href="./">Barulab SEOUL</a>
                                            </li>
                                            <li>
                                                <a href="./">B.O.M.</a>
                                            </li>
                                            <li>
                                                <a href="./">Berrisom</a>
                                            </li>
                                            <li>
                                                <a href="./">Biodance</a>
                                            </li>
                                            <li>
                                                <a href="./">Barulab SEOUL</a>
                                            </li>
                                            <li>
                                                <a href="./">B.O.M.</a>
                                            </li>
                                            <li>
                                                <a href="./">Berrisom</a>
                                            </li>
                                            <li>
                                                <a href="./">Biodance</a>
                                            </li>
                                            <li>
                                                <a href="./">Barulab SEOUL</a>
                                            </li>
                                            <li>
                                                <a href="./">B.O.M.</a>
                                            </li>
                                            <li>
                                                <a href="./">Berrisom</a>
                                            </li>
                                            <li>
                                                <a href="./">Biodance</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands4" class="block-brands__column">
                                        <div class="block-brands__title">C</div>
                                        <ul>
                                            <li>
                                                <a href="./">Celimax</a>
                                            </li>
                                            <li>
                                                <a href="./">Chaebgonggan</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands5" class="block-brands__column">
                                        <div class="block-brands__title">D</div>
                                        <ul>
                                            <li>
                                                <a href="./">Dewy</a>
                                            </li>
                                            <li>
                                                <a href="./">Dr. Banggiwon</a>
                                            </li>
                                            <li>
                                                <a href="./">Dr. Oracle</a>
                                            </li>
                                            <li>
                                                <a href="./">Dewy</a>
                                            </li>
                                            <li>
                                                <a href="./">Dr. Oracle</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands6" class="block-brands__column">
                                        <div class="block-brands__title">G</div>
                                        <ul>
                                            <li>
                                                <a href="./">GIK</a>
                                            </li>
                                            <li>
                                                <a href="./">Goodal</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands7" class="block-brands__column">
                                        <div class="block-brands__title">H</div>
                                        <ul>
                                            <li>
                                                <a href="./">Holitual</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands8" class="block-brands__column">
                                        <div class="block-brands__title">M</div>
                                        <ul>
                                            <li>
                                                <a href="./">MASIL</a>
                                            </li>
                                            <li>
                                                <a href="./">Makeup Helper</a>
                                            </li>
                                            <li>
                                                <a href="./">Medicube</a>
                                            </li>
                                            <li>
                                                <a href="./">MEDIHEAL</a>
                                            </li>
                                            <li>
                                                <a href="./">MENOKIN</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands9" class="block-brands__column">
                                        <div class="block-brands__title">O</div>
                                        <ul>
                                            <li>
                                                <a href="./">OHUI</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands10" class="block-brands__column">
                                        <div class="block-brands__title">R</div>
                                        <ul>
                                            <li>
                                                <a href="./">Re:NK</a>
                                            </li>
                                            <li>
                                                <a href="./">Ricocell</a>
                                            </li>
                                            <li>
                                                <a href="./">RiRe</a>
                                            </li>
                                            <li>
                                                <a href="./">Rom&nd</a>
                                            </li>
                                            <li>
                                                <a href="./">Re:NK</a>
                                            </li>
                                            <li>
                                                <a href="./">Ricocell</a>
                                            </li>
                                            <li>
                                                <a href="./">RiRe</a>
                                            </li>
                                            <li>
                                                <a href="./">Rom&nd</a>
                                            </li>
                                            <li>
                                                <a href="./">Re:NK</a>
                                            </li>
                                            <li>
                                                <a href="./">Ricocell</a>
                                            </li>
                                            <li>
                                                <a href="./">RiRe</a>
                                            </li>
                                            <li>
                                                <a href="./">Rom&nd</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands11" class="block-brands__column">
                                        <div class="block-brands__title">S</div>
                                        <ul>
                                            <li>
                                                <a href="./">Shingmulwon</a>
                                            </li>
                                            <li>
                                                <a href="./">SNP</a>
                                            </li>
                                            <li>
                                                <a href="./">SOME BY MI</a>
                                            </li>
                                            <li>
                                                <a href="./">Steambase</a>
                                            </li>
                                            <li>
                                                <a href="./">Su:m37</a>
                                            </li>
                                            <li>
                                                <a href="./">Sulwhasoo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands12" class="block-brands__column">
                                        <div class="block-brands__title">T</div>
                                        <ul>
                                            <li>
                                                <a href="./">The History of Whoo</a>
                                            </li>
                                            <li>
                                                <a href="./">Tag</a>
                                            </li>
                                            <li>
                                                <a href="./">TFIT</a>
                                            </li>
                                            <li>
                                                <a href="./">TirTir</a>
                                            </li>
                                            <li>
                                                <a href="./">Tocobo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands13" class="block-brands__column">
                                        <div class="block-brands__title">V</div>
                                        <ul>
                                            <li>
                                                <a href="./">Vely Vely</a>
                                            </li>
                                            <li>
                                                <a href="./">VT</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-filter="brands14" class="block-brands__column">
                                        <div class="block-brands__title">Y</div>
                                        <ul>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                            <li>
                                                <a href="./">Anua</a>
                                            </li>
                                            <li>
                                                <a href="./">Ayoume</a>
                                            </li>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                            <li>
                                                <a href="./">Anua</a>
                                            </li>
                                            <li>
                                                <a href="./">Ayoume</a>
                                            </li>
                                            <li>
                                                <a href="./">ABIB</a>
                                            </li>
                                            <li>
                                                <a href="./">AHC</a>
                                            </li>
                                            <li>
                                                <a href="./">Anua</a>
                                            </li>
                                            <li>
                                                <a href="./">Ayoume</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/banner.njk' %}

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>