<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="block-intro__slider swiper">
                    <div class="block-intro__wrapper swiper-wrapper">
                        <div style="background: #efdbdc;" class="block-intro__slide swiper-slide">
                            <div style="background: linear-gradient(327deg, #e5bcc2 0%, #fbeee7 100%);"
                                class="block-intro__pic1">
                                <img src="img/banner1.webp" alt="">
                            </div>
                            <div class="container">
                                <img src="img/icons/logo3.svg" alt="" class="block-intro__logo">
                                <div class="block-intro__item">
                                    <h1 class="title2">
                                        Лимитированный<br>
                                        K-IDOL Boх & tir tir
                                    </h1>
                                    <div class="block-intro__subtitle">
                                        <svg aria-hidden="true" width="35" height="29">
                                            <use xlink:href="img/sprite.svg#heart1"></use>
                                        </svg>
                                        <span>краткий текст описание продукта,<br>
                                            его основные преимущества и свойства</span>
                                    </div>
                                    <a href="./" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="17" height="17">
                                            <use xlink:href="img/sprite.svg#star1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div style="background: #e5bcc2;" class="block-intro__slide swiper-slide">
                            <div style="background: linear-gradient(327deg, #e5bcc2 0%, #fbeee7 100%);"
                                class="block-intro__pic1">
                                <img src="img/banner2.webp" alt="">
                            </div>
                            <div class="container">
                                <img src="img/icons/logo3.svg" alt="" class="block-intro__logo">
                                <div class="block-intro__item">
                                    <h1 class="title2">
                                        НОВИНКИ
                                    </h1>
                                    <div class="block-intro__subtitle">
                                        <svg aria-hidden="true" width="35" height="29">
                                            <use xlink:href="img/sprite.svg#heart1"></use>
                                        </svg>
                                        <span>краткий текст описание продукта,<br>
                                            его основные преимущества и свойства</span>
                                    </div>
                                    <a href="./" class="btn">
                                        <span>Купить</span>
                                        <svg aria-hidden="true" width="17" height="17">
                                            <use xlink:href="img/sprite.svg#star1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div style="background: #ffc0ef;" class="block-intro__slide swiper-slide">
                            <div style="background: radial-gradient(300.6% 62.66% at 71.02% 41.48%, #ffe4fc 0%, #ffc0ef 100%);"
                                class="block-intro__pic1 pic-left">
                                <img src="img/banner3.webp" alt="">
                            </div>
                            <div class="container">
                                <img src="img/icons/logo3.svg" alt="" class="block-intro__logo">
                                <div class="block-intro__item">
                                    <img src="img/icons/logo1.svg" alt="" class="block-intro__logo2">
                                    <h1 class="title2">
                                        ОТКРЫТЫЙ ЧЕМПИОНАТ
                                        <br>
                                        ВИЗАЖА И КРАСОТЫ
                                    </h1>
                                    <div class="block-intro__list">
                                        <div class="block-intro__list-title">Номинации:</div>
                                        <ul>
                                            <li>
                                                <img src="img/icons/check2.svg" alt="">
                                                <span>Коммерческий
                                                    <br>
                                                    макияж</span>
                                            </li>
                                            <li>
                                                <img src="img/icons/check2.svg" alt="">
                                                <span>Азиатский
                                                    <br>
                                                    макияж</span>
                                            </li>
                                            <li>
                                                <img src="img/icons/check2.svg" alt="">
                                                <span>Азиатский
                                                    <br>
                                                    макияж</span>
                                            </li>
                                            <li>
                                                <img src="img/icons/check2.svg" alt="">
                                                <span>Косплей
                                                    <br>
                                                    макияж</span>
                                            </li>
                                            <li>
                                                <img src="img/icons/check2.svg" alt="">
                                                <span>Азиатский
                                                    <br>
                                                    макияж</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-intro__buttons">
                                        <a href="./" class="btn">
                                            <span>Подробнее</span>
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                        </a>
                                        <div class="socials">
                                            <a href="./">
                                                <svg style="margin-right:4px;" aria-hidden="true" width="28"
                                                    height="24">
                                                    <use xlink:href="img/sprite.svg#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="./">
                                                <svg aria-hidden="true" width="30" height="20">
                                                    <use xlink:href="img/sprite.svg#vk"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-intro__slide swiper-slide slide-banner">
                            <img src="img/banner4.webp" alt="" class="slide-banner__pic1">
                            <div class="slide-banner__buttons">
                                <a href="./" class="btn">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="17" height="17">
                                        <use xlink:href="img/sprite.svg#star1"></use>
                                    </svg>
                                </a>
                                <div class="socials">
                                    <a href="./">
                                        <svg style="margin-right:4px;" aria-hidden="true" width="28" height="24">
                                            <use xlink:href="img/sprite.svg#telegram"></use>
                                        </svg>
                                    </a>
                                    <a href="./">
                                        <svg aria-hidden="true" width="30" height="20">
                                            <use xlink:href="img/sprite.svg#vk"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="block-intro-arrow-prev arrow-prev">
                        <svg aria-hidden="true" width="97" height="8">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="block-intro-arrow-next arrow-next">
                        <svg aria-hidden="true" width="97" height="8">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="block-exclusive">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">
                            ЭКСКЛЮЗИВ
                            <span>독점적인</span>
                        </h2>
                    </div>
                    <div class="block-exclusive__content">
                        <div class="block-exclusive-top">
                            <div class="block-exclusive-top__image">
                                <img loading="lazy" src="img/image5.webp" alt="">
                            </div>
                            <div class="block-exclusive-top__body">
                                <div class="block-exclusive-top__star">
                                    <svg aria-hidden="true" width="29" height="29">
                                        <use xlink:href="img/sprite.svg#star1"></use>
                                    </svg>
                                </div>
                                <div class="block-exclusive-top__item">
                                    <div class="block-exclusive-top__title">
                                        Уникальные дизайны пудры и кушонов Makeup Helper
                                    </div>
                                    <div class="block-exclusive-top__line"></div>
                                    <div class="block-exclusive-top__subtitle">
                                        <svg aria-hidden="true" width="35" height="29">
                                            <use xlink:href="img/sprite.svg#heart1"></use>
                                        </svg>
                                        <span>созданы в сотрудничестве с художниками-иллюстраторами</span>
                                    </div>
                                    <a href="./" class="btn">
                                        <span>Купить</span>
                                        <svg aria-hidden="true" width="17" height="17">
                                            <use xlink:href="img/sprite.svg#star1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-exclusive-bottom">
                            <div class="block-exclusive-bottom__columns1">
                                <div class="block-exclusive-bottom__circle circle1"></div>
                                <div class="block-exclusive-bottom__cards">
                                    <div class="product-card1">
                                        <div class="product-card1__images">
                                            <div class="badges">
                                                <div class="badges__badge">NEW</div>
                                            </div>
                                            <div class="product-card1__slider swiper">
                                                <div class="product-card1__wrapper swiper-wrapper">
                                                    <div class="product-card1__slide swiper-slide">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card1__pagination pagination"></div>
                                        </div>
                                        <div class="product-card1__item">
                                            <div class="product-card1__top">
                                                <div data-rating data-rating-size="5" data-rating-value="4"
                                                    class="rating">
                                                </div>
                                                <div class="product-card1__price">4500 руб.</div>
                                            </div>
                                            <div class="product-card1__titles">
                                                <a href="./" class="product-card1__title">
                                                    Название товара или продукта, может быть длинным
                                                </a>
                                            </div>
                                            <div class="product-card1__bottom">
                                                <div data-quantity class="quantity">
                                                    <button data-quantity-minus type="button"
                                                        class="quantity__button quantity__button_minus">
                                                        <svg aria-hidden="true" width="9" height="2">
                                                            <use xlink:href="img/sprite.svg#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="quantity__input">
                                                        <input data-quantity-value autocomplete="off" type="text"
                                                            name="form[]" value="1">
                                                    </div>
                                                    <button data-quantity-plus type="button"
                                                        class="quantity__button quantity__button_plus">
                                                        <svg aria-hidden="true" width="9" height="9">
                                                            <use xlink:href="img/sprite.svg#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <button type="button" class="btn">
                                                    <span>В корзину</span>
                                                    <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card1">
                                        <div class="product-card1__images">
                                            <div class="badges">
                                                <div class="badges__badge">HIT</div>
                                            </div>
                                            <div class="product-card1__slider swiper">
                                                <div class="product-card1__wrapper swiper-wrapper">
                                                    <div class="product-card1__slide swiper-slide">
                                                        <img loading="lazy" src="img/products/image2.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card1__pagination pagination"></div>
                                        </div>
                                        <div class="product-card1__item">
                                            <div class="product-card1__top">
                                                <div data-rating data-rating-size="5" data-rating-value="4"
                                                    class="rating">
                                                </div>
                                                <div class="product-card1__price">4500 руб.</div>
                                            </div>
                                            <div class="product-card1__titles">
                                                <a href="./" class="product-card1__title">
                                                    Название товара или продукта, может быть длинным
                                                </a>
                                            </div>
                                            <div class="product-card1__bottom">
                                                <div data-quantity class="quantity">
                                                    <button data-quantity-minus type="button"
                                                        class="quantity__button quantity__button_minus">
                                                        <svg aria-hidden="true" width="9" height="2">
                                                            <use xlink:href="img/sprite.svg#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="quantity__input">
                                                        <input data-quantity-value autocomplete="off" type="text"
                                                            name="form[]" value="1">
                                                    </div>
                                                    <button data-quantity-plus type="button"
                                                        class="quantity__button quantity__button_plus">
                                                        <svg aria-hidden="true" width="9" height="9">
                                                            <use xlink:href="img/sprite.svg#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <button type="button" class="btn">
                                                    <span>В корзину</span>
                                                    <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-exclusive-bottom__images1">
                                    <img loading="lazy" src="img/icons/logo2.svg" alt=""
                                        class="block-exclusive-bottom__logo">
                                    <img loading="lazy" src="img/image6.webp" alt=""
                                        class="block-exclusive-bottom__pic1">
                                    <svg aria-hidden="true" width="56" height="60">
                                        <use xlink:href="img/sprite.svg#strawberry"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="block-exclusive-bottom__columns1">
                                <div class="block-exclusive-bottom__circle circle2"></div>
                                <div class="block-exclusive-bottom__images2">
                                    <div class="block-exclusive-bottom__logo-text">
                                        НОВИНКИ
                                    </div>
                                    <img loading="lazy" src="img/image7.webp" alt=""
                                        class="block-exclusive-bottom__pic1">
                                    <svg aria-hidden="true" width="43" height="69">
                                        <use xlink:href="img/sprite.svg#gesture"></use>
                                    </svg>
                                </div>
                                <div class="block-exclusive-bottom__right">
                                    <div class="block-exclusive-bottom__cards">
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide image-big">
                                                            <img loading="lazy" src="img/products/image3.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__top">
                                                    <div data-rating data-rating-size="5" data-rating-value="4"
                                                        class="rating">
                                                    </div>
                                                    <div class="product-card1__price">4500 руб.</div>
                                                </div>
                                                <div class="product-card1__titles">
                                                    <a href="./" class="product-card1__title">
                                                        Название товара или продукта, может быть длинным
                                                    </a>
                                                </div>
                                                <div class="product-card1__bottom">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus">
                                                            <svg aria-hidden="true" width="9" height="2">
                                                                <use xlink:href="img/sprite.svg#minus"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus">
                                                            <svg aria-hidden="true" width="9" height="9">
                                                                <use xlink:href="img/sprite.svg#plus"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <button type="button" class="btn">
                                                        <span>В корзину</span>
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card1">
                                            <div class="product-card1__images">
                                                <div class="badges">
                                                    <div class="badges__badge">HIT</div>
                                                </div>
                                                <div class="product-card1__slider swiper">
                                                    <div class="product-card1__wrapper swiper-wrapper">
                                                        <div class="product-card1__slide swiper-slide">
                                                            <img loading="lazy" src="img/products/image4.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-card1__pagination pagination"></div>
                                            </div>
                                            <div class="product-card1__item">
                                                <div class="product-card1__top">
                                                    <div data-rating data-rating-size="5" data-rating-value="4"
                                                        class="rating">
                                                    </div>
                                                    <div class="product-card1__price">4500 руб.</div>
                                                </div>
                                                <div class="product-card1__titles">
                                                    <a href="./" class="product-card1__title">
                                                        Название товара или продукта, может быть длинным
                                                    </a>
                                                </div>
                                                <div class="product-card1__bottom">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus">
                                                            <svg aria-hidden="true" width="9" height="2">
                                                                <use xlink:href="img/sprite.svg#minus"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus">
                                                            <svg aria-hidden="true" width="9" height="9">
                                                                <use xlink:href="img/sprite.svg#plus"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <button type="button" class="btn">
                                                        <span>В корзину</span>
                                                        <img loading="lazy" src="img/icons/cart.svg" alt="">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="./" class="btn btn-transparent">
                                        <span>Смотреть все</span>
                                        <svg aria-hidden="true" width="17" height="17">
                                            <use xlink:href="img/sprite.svg#star1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="block-exclusive-services">
                                <a href="./" class="block-exclusive-services__column">
                                    <img loading="lazy" src="img/image8.webp" alt="">
                                    <div class="block-exclusive-services__item">
                                        <div class="block-exclusive-services__title">
                                            УХОД ЗА ЛИЦОМ
                                            <span>페이셜 케어</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="block-exclusive-services__column">
                                    <img loading="lazy" src="img/image9.webp" alt="">
                                    <div class="block-exclusive-services__item">
                                        <div class="block-exclusive-services__title">
                                            МАКИЯЖ
                                            <span>조립</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="block-exclusive-services__column">
                                    <img loading="lazy" src="img/image10.webp" alt="">
                                    <div class="block-exclusive-services__item">
                                        <div class="block-exclusive-services__title">
                                            РАЗНОЕ
                                            <span>여러 가지 잡다한</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/banner.njk' %}

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>