<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - мои данные</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-cabinet">
                <div class="container">
                    <div class="block-cabinet__heading-complex">
                        <div class="breadcrumbs">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Главная
                                            <svg aria-hidden="true" width="23" height="8">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><span>Разное</span></li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="title2">Личный кабинет</h2>
                    </div>
                    <div class="block-cabinet__content">
                        <a href="./" class="block-cabinet__back">
                            <svg aria-hidden="true" width="23" height="15">
                                <use xlink:href="img/sprite.svg#arrow4"></use>
                            </svg>
                        </a>
                        <div class="block-cabinet-menu">
                            <div class="block-cabinet-menu__top">
                                <div class="block-cabinet-menu__name">
                                    <img src="img/image8.webp" alt="">
                                    <span>Ольга Р.</span>
                                </div>
                                <ul>
                                    <li>
                                        Скидка
                                        <span>-23%</span>
                                    </li>
                                    <li>
                                        Бонусные баллы
                                        <span>4367</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-cabinet-menu__list">
                                <ul>
                                    <li>
                                        <a href="./">
                                            Мои заказы
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./" class="active">
                                            <svg aria-hidden="true" width="17" height="17">
                                                <use xlink:href="img/sprite.svg#star1"></use>
                                            </svg>
                                            Мои данные
                                            <div class="block-cabinet-menu__count">3</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">Мои адреса</a>
                                    </li>
                                    <li>
                                        <a href="./">Скидочные карты</a>
                                    </li>
                                    <li>
                                        <a href="./">Избранное</a>
                                    </li>
                                    <li>
                                        <a href="./">Служба заботы</a>
                                    </li>
                                    <li>
                                        <a href="./">Акции</a>
                                    </li>
                                    <li>
                                        <a href="./" class="logout">Выйти</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-cabinet__body">
                            <img src="img/icons/logo7.svg" alt="" class="block-cabinet__logo">
                            <div class="block-cabinet__container">
                                <div class="block-cabinet__title">
                                    Мои данные
                                </div>
                                <form action="#" class="block-cabinet-form">
                                    <div class="block-cabinet-form__column">
                                        <div class="block-cabinet-form__title">
                                            Личные данные
                                        </div>
                                        <div class="block-cabinet-form__inputs">
                                            <div class="block-cabinet-form__input">
                                                <input autocomplete="off" type="text" name="form[]" placeholder="Имя">
                                            </div>
                                            <div class="block-cabinet-form__input">
                                                <input autocomplete="off" type="text" name="form[]"
                                                    placeholder="Фамилия">
                                            </div>
                                            <div class="form-calendar">
                                                <div class="form-calendar__inputs">
                                                    <div class="form-calendar__input">
                                                        <input readonly autocomplete="off" type="text"
                                                            class="input-calendar" data-start name="form[]"
                                                            placeholder="Дата рождения">
                                                        <img src="img/icons/calendar.svg" alt="">
                                                    </div>
                                                    <div class="calendar">
                                                        <div class="calendar__content">
                                                            <div class="calendar__header">
                                                                <button type="button"
                                                                    class="calendar__btn-prev calendar-btn">
                                                                    <svg aria-hidden="true" width="10" height="6">
                                                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                                                    </svg>
                                                                </button>
                                                                <span></span>
                                                                <button type="button"
                                                                    class="calendar__btn-next calendar-btn">
                                                                    <svg aria-hidden="true" width="10" height="6">
                                                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                            <div class="calendar__wrapper">
                                                                <div class="calendar__days">
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Пн</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Вт</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Ср</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Чт</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Пт</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Сб</span></div>
                                                                    <div class="cell_wrapper cal_days"><span
                                                                            class="cell_item">Вс</span></div>
                                                                </div>
                                                                <div class="calendar__main"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="block-cabinet-form__options">
                                                <div class="block-cabinet-form__options-text">
                                                    Пол
                                                </div>
                                                <div class="options">
                                                    <label class="options__item">
                                                        <input hidden class="options__input" checked type="radio"
                                                            value="1" name="option1">
                                                        <span class="options__label">
                                                            <span class="options__icon"></span>
                                                            <span class="options__text">Мужской</span>
                                                        </span>
                                                    </label>
                                                    <label class="options__item">
                                                        <input hidden class="options__input" type="radio" value="1"
                                                            name="option1">
                                                        <span class="options__label">
                                                            <span class="options__icon"></span>
                                                            <span class="options__text">женский</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-cabinet-form__text">
                                            Вы получите скидку ко дню рождения
                                        </div>
                                    </div>
                                    <div class="block-cabinet-form__column">
                                        <div class="block-cabinet-form__title">
                                            Контактные данные
                                        </div>
                                        <div class="block-cabinet-contacts">
                                            <div class="block-cabinet-contacts__column">
                                                <div class="block-cabinet-contacts__top">
                                                    <div class="block-cabinet-contacts__text1">
                                                        Телефон
                                                    </div>
                                                    <a href="./" class="block-cabinet-contacts__text2">
                                                        Добавить новый
                                                    </a>
                                                </div>
                                                <div class="block-cabinet-contacts__bottom">
                                                    <div class="block-cabinet-contacts__subtitle">8 (930) 423 53 22
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-cabinet-contacts__column">
                                                <div class="block-cabinet-contacts__top">
                                                    <div class="block-cabinet-contacts__text1">
                                                        Email
                                                    </div>
                                                    <a href="./" class="block-cabinet-contacts__text2">
                                                        Добавить новый
                                                    </a>
                                                </div>
                                                <div class="block-cabinet-contacts__bottom">
                                                    <div class="block-cabinet-contacts__subtitle">ivanova35@mail.ru
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-cabinet-form__column">
                                        <div class="block-cabinet-form__title">
                                            Смена пароля
                                        </div>
                                        <div class="block-cabinet-form__passwords">
                                            <div class="block-cabinet-form__input">
                                                <input autocomplete="off" type="password" name="form[]"
                                                    placeholder="Старый пароль">
                                            </div>
                                            <div class="block-cabinet-form__input">
                                                <input autocomplete="off" type="password" name="form[]"
                                                    placeholder="Новый пароль">
                                            </div>
                                            <div class="block-cabinet-form__input">
                                                <input autocomplete="off" type="password" name="form[]"
                                                    placeholder="Повторите пароль">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-cabinet-form__column">
                                        <div class="block-cabinet-form__checkboxes">
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="1" name="form[]">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <svg aria-hidden="true" width="10" height="6">
                                                            <use xlink:href="img/sprite.svg#check1"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Запомнить меня и оставаться в системе
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="2" name="form[]">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <svg aria-hidden="true" width="10" height="6">
                                                            <use xlink:href="img/sprite.svg#check1"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Даю согласие на получение рекламных рассылок по SMS
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="2" name="form[]">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <svg aria-hidden="true" width="10" height="6">
                                                            <use xlink:href="img/sprite.svg#check1"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Даю согласие на получение рекламных рассылок на Email
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="2" name="form[]">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <svg aria-hidden="true" width="10" height="6">
                                                            <use xlink:href="img/sprite.svg#check1"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Нажимая кнопку “Войти”, вы даете согласие на обработку ваших
                                                        персональных
                                                        данных в соответствии с <a href="./">Политикой
                                                            конфиденциальности</a>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn">
                                            Сохранить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>