:root {
  --container-width: 1406px;
  --container-padding: 40px;
  --theme-color-accent: #000000;
  --theme-color-accent2: #e5bcc2;
  --theme-color-accent3: #ab6671;

  --font-family: "Raleway", sans-serif;
  --second-family: "OpenSansCondensed", sans-serif;
  --third-family: "Montserrat", sans-serif;
}